.extended-card{
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    padding: 1rem;
    margin: 0.5rem auto;
    box-shadow: 0 2px 5px var(--shadow-main);
    // border-radius: 5px;
    color: var(--font-sec);
    max-width: 550px;
    max-height: 320px;
    min-height: 320px;
    text-align: left;
    border: 1px solid rgba(128, 128, 128, 0.445);
    font-family: 'Quicksand', sans-serif;
    // overflow: hidden;
    cursor: pointer;
    transition: all 0.2s ease;

    .image{
        img{
            width: 200px;
            height: 300px;
        }
    }

    .details{
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .title{
            text-decoration: underline;
            padding-bottom: 1rem;
        }

        .overview{
            padding-bottom: 2rem;
            width: 100%;
            height: 50%;
           margin-bottom: 2rem;
            font-weight: bold;
            color: rgba(255, 255, 255, 0.719);
            white-space: pre-line;
            overflow: hidden !important;
            text-overflow: ellipsis;
        }
    }
     .hide{
        display: none;
    }
}

.extended-card:hover{
    transform: scale(1.02);
    background-color: rgba(0, 0, 0, 0);
    // backdrop-filter: blur(0);
}

.movie{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: fit-content;
    margin: 0.5rem;
    padding: 0.5rem ;
    border-radius: 5px;
    transition: all 0.2s ease;
    cursor: pointer;
    color: var(--font-sec);
    font-weight: 400;
     text-align: left;


    .thumbnail{
        width: 200px;
        margin-bottom: 0.3rem;
        // height: 200px;
    }

    .hide{
        display: none;
    }
}

.movie:hover{
    background-color: rgba(39, 39, 39, 0.329);
}