header{
    width: 100%;
    // background-color: var(--bg-sec);
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 2px 5px var(--shadow-main);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 4rem;
    position: sticky;
    top: 0;
    
    .logo{
        font-size: 18px;
        font-weight: bold;
        color: var(--font);;
    }

    .form{
        min-width: 50%;
        // width: fit-content;
        // background-color: red;
        position: relative;
        display: flex;
        align-items: center;

       .input{
           width: 90%;
            input{
            padding: 0.5rem;
            font-size: 1.1rem;
            outline: none;
            border: 1px solid rgb(144, 144, 144);
            width: 100%;
            height: 100%;
            color: var(--font);
            background-color: var(--bg-sec);
            // padding-left: 2.3rem;
            transition: all 0.2s ease-in-out;
        }
       }


        button{
            padding: 0.5rem;
            border: none;
            width: 10%;
            // border: 1px solid rgb(182, 182, 182);
            // outline: 1px solid rgb(182, 182, 182);
            background-color: rgb(251, 82, 119);
            cursor: pointer;
            outline: none;
        }

        button:hover{
            background-color: rgb(211, 96, 121);
        }
    }

    .nav{
        display: flex;
        list-style: none;
        width: 20%;
        align-items: center;
        justify-content: space-between;

        li{
            cursor: pointer;
            padding: 0.5rem;
            border-radius: 5px ;
            transition: all 0.2s ease;
            color: var(--font-sec);
        }

        li:hover{
            background-color: var(--hover-color);

        }
    }
}
