.Movie-List{
    background-color: var(--bg-sec);
    border-radius: 5px;
    box-shadow: 0 2px 5px var(--shadow-main);
    width: 95%;
    margin: 1rem auto;

    .topbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem;
        border-bottom: 1px solid var(--bdr-btm);
        margin: 1rem 2rem;

        .heading{
            font-size: 1.5rem;
            font-weight: bold;
            color: var(--font);
        }
    }
    .movies{
        display: flex;
            overflow: auto;

    }
}

.extended-list{
    margin: 1rem auto;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
}