.Movie-List{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 95%;
    margin: 1rem auto;

    .topbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        margin: 1rem 2rem;

        .heading{
            font-size: 1.5rem;
            font-weight: bold;
            color: rgba(0, 0, 0, 0.8);
        }

        .extend{
            text-decoration: underline;
            cursor: pointer;
            color: rgba(0, 0, 0, 0.6);
        }
    }
    .movies{
        display: flex;
    }
}