.hide {
    display: none;
}

.modal {
    width: 80vw;
    height: 80vh;
    background-color: rgba($color: #000000, $alpha: 0.8);
    backdrop-filter: blur(20px);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.37);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    border: 1px solid gray;
    overflow: auto;
    text-align: left;
    font-size: 1.2rem;
    z-index: 100;

     .close{
        position: inherit;
        right: 1%;
        top: 3%;
        font-size: 30px;
        transform: rotate(45deg);
        border-radius: 100px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
    }

    .close:hover{
        background-color: rgba(255, 255, 255, 0.4);
    }

    .container{
        display: flex;
        // background-color: rgba(255, 0, 0, 0.329);

        .Details{
            flex: 2;
            padding: 2rem;

            .title{
                font-size: 4rem;
                font-family: 'Fira Sans', sans-serif;
            }

            .small-details{
                color: rgb(248, 107, 138);
                font-weight: bold;
                margin: 0.5rem;
                font-size: 1.5rem;
            }

            .sub-details{
                margin: 1rem 0;

                span{
                    color: rgb(248, 107, 138);
                }
            }
        }

        .image{
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2rem;
            // background-color: red;
            .poster{
                width: 70%;
                box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
            }
        }
    }

    .reviews{
        // background-color: rgba(65, 105, 225, 0.507);
        display: flex;
        overflow: auto;
    }
}