.modal{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    // background-color: red;
    backdrop-filter: blur(20px);
    overflow: auto;

    .title{
        margin: 2rem;
    }

    .close{
        position: inherit;
        right: 5%;
        top: 5%;
        font-size: 30px;
        transform: rotate(45deg);
        border-radius: 100px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
    }

    .close:hover{
        background-color: rgba(255, 255, 255, 0.4);
    }

    .details-section{
        display: flex;
        // background-color: red;
        padding: 1rem;
        text-align: left;
        width: 90%;
        margin: auto;

        .image-section{
            flex: 1;
            align-items: center;
            justify-content: center;
            display: flex;

            img{
                width: 50%;
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
            }
        }

        .details{
            flex: 1;
            // background-color: blue;
            display: flex;
            flex-direction: column;
            // justify-content: space-between;

            p{
                margin: 1rem;
                font-size: 1.2rem;

                span{
                    font-weight: bold;
                }
            }
        }
    }

    .similar{
        // overflow-y: scroll;
        // background-color: green;
        width: 90%;
        text-align: left;
        padding: 1rem;
        margin: 1rem auto;

        .content{
            display: flex;
            overflow-y: auto;
            position: relative;
        }
    }
}

.hide {
    display: none;
}